/* #region global styles */
body {
  font-family: "Roboto", sans-serif;
  color: #434455;
  background-color: #fff;
}

/* RESET */

ol,
ul {
  list-style-type: none;
  padding: 0;
  margin: 0;
}

h1,
h2,
h3,
h4,
h5,
h6,
p {
  margin: 0;
}

img {
  display: block;
  max-width: 100%;
  height: auto;
}

a {
  text-decoration: none;
}

button {
  cursor: pointer;
  font-family: inherit;
}

.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;

  white-space: nowrap;
  clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}
/* #endregion */

/* #region common */
.container {
  max-width: 320px;
  width: 100%;
  padding: 0 16px;
  margin: 0 auto;
}

@media screen and (min-width: 768px) {
  .container {
    max-width: 768px;
  }
}

@media screen and (min-width: 1158px) {
  .container {
    max-width: 1158px;
    padding: 0 15px;
  }
}
/* #endregion */

/* #region HEADER and mobile menu */

/* mobile header */
.page-header {
  border-bottom: 1px solid #e7e9fc;
  box-shadow: 0px 2px 1px rgba(46, 47, 66, 0.08),
    0px 1px 1px rgba(46, 47, 66, 0.16), 0px 1px 6px rgba(46, 47, 66, 0.08);
}

.header-container {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.nav-list,
.contacts {
  display: none;
}

.logo {
  font-family: "Raleway", sans-serif;
  font-weight: 700;
  font-size: 18px;
  line-height: 1.17;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  color: #4d5ae5;
}

.header-logo {
  padding: 16px 0;
  display: block;
}

.header-logo .logo-part {
  color: #2e2f42;
}

.burger-btn {
  padding: 0;
  border: none;
  background-color: transparent;
}

.burger-btn-icon {
  display: block;
  fill: #2f2f37;
}

/* tablet header */

@media screen and (min-width: 768px) {
  .burger-btn {
    display: none;
  }

  .header-nav {
    display: flex;
    align-items: center;
  }

  .nav-list {
    display: flex;
    align-items: center;
    gap: 40px;
  }

  .header-logo {
    padding: 24px 0;
    margin-right: 120px;
  }

  .nav-link {
    display: block;
    padding: 24px 0;
    font-weight: 500;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;
    color: #2e2f42;
    transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
  }

  .nav-link.current {
    position: relative;
  }

  .nav-link.current::after {
    content: "";
    width: 100%;
    height: 4px;
    border-radius: 2px;
    background-color: #404bbf;
    position: absolute;
    left: 0;
    bottom: -1px;
  }

  .contacts {
    font-style: normal;
    display: block;
  }

  .contacts-link {
    display: block;
    font-size: 12px;
    line-height: 1.17;
    letter-spacing: 0.04em;
    color: #434455;
    transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
  }

  .nav-link:hover,
  .nav-link:focus,
  .contacts-link:hover,
  .contacts-link:focus,
  .nav-link.current {
    color: #404bbf;
  }

  .contacts-list {
    display: flex;
    flex-direction: column;
    gap: 12px;
  }
}

/* desktop header */

@media screen and (min-width: 1158px) {
  .header-logo {
    margin-right: 76px;
  }

  .contacts-list {
    flex-direction: row;
    align-items: center;
    gap: 40px;
  }

  .contacts-link {
    padding: 24px 0;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;
  }
}

/* mobile menu */

.mobile-menu {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: #fff;

  opacity: 0;
  visibility: hidden;
  pointer-events: none;
  transition: opacity 250ms cubic-bezier(0.4, 0, 0.2, 1),
    visibility 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.mobile-menu.is-open {
  opacity: 1;
  visibility: visible;
  pointer-events: auto;
}

.mobile-menu-container {
  position: relative;
  padding-top: 72px;
  padding-bottom: 40px;

  display: flex;
  flex-direction: column;
  height: 100%;
}

.mobile-menu-nav {
  margin-bottom: auto;
}

.mobile-menu-nav-list {
  display: flex;
  flex-direction: column;
  gap: 40px;
}

.mobile-menu-nav-list li:first-child a {
  color: #404bbf;
}

.mobile-menu-nav-link {
  display: block;
  font-weight: 700;
  font-size: 36px;
  line-height: 1.11;
  letter-spacing: 0.02em;
  color: #2e2f42;
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.mobile-menu-btn-close {
  display: flex;
  position: absolute;
  padding: 0;
  top: 24px;
  right: 24px;
  width: 24px;
  height: 24px;
  border-radius: 50%;
  justify-content: center;
  align-items: center;
  background-color: #e7e9fc;
  border: 1px solid rgba(0, 0, 0, 0.1);
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1),
    border 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.mobile-menu-btn-close:hover,
.mobile-menu-btn-close:focus {
  background-color: #404bbf;
  border: none;
}

.mobile-menu-btn-svg {
  fill: #2e2f42;
  transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.mobile-menu-btn-close:hover .mobile-menu-btn-svg,
.mobile-menu-btn-close:focus .mobile-menu-btn-svg {
  fill: #fff;
}

.mobile-menu-contacts {
  font-style: normal;
  display: block;
  margin-bottom: 48px;
}

.mobile-menu-contacts-list {
  display: flex;
  flex-direction: column;
  gap: 24px;
}

.mobile-menu-contacts-list li:first-child a {
  color: #404bbf;
}

.mobile-menu-contacts-link {
  display: block;
  font-weight: 500;
  font-size: 20px;
  line-height: 1.2;
  letter-spacing: 0.02em;
  color: #434455;
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.mobile-menu-nav-link:hover,
.mobile-menu-nav-link:focus,
.mobile-menu-contacts-link:hover,
.mobile-menu-contacts-link:focus,
.nav-link.current {
  color: #404bbf;
}

.mobile-menu-social-list {
  display: flex;
  gap: 40px;
}

.mobile-menu-list-link {
  background-color: #4d5ae5;
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
  width: 40px;
  height: 40px;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 50%;
}

.mobile-menu-list-icon {
  fill: #f4f4fd;
}

.mobile-menu-list-link:hover,
.mobile-menu-list-link:focus {
  background-color: #31d0aa;
}
@media screen and (min-width: 768px) {
  .mobile-menu {
    display: none;
  }
}
/* #endregion */

/* #region HERO */

/* hero mobile */
.section-hero {
  max-width: 320px;
  padding: 72px 0;
  margin: 0 auto;
  background-color: #2e2f42;
  background-image: linear-gradient(
      to bottom,
      rgba(46, 47, 66, 0.7),
      rgba(46, 47, 66, 0.7)
    ),
    url("../images/hero/hero-image-mob.jpg");
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
}

.hero-container {
  align-items: center;
}

.hero-title {
  margin: 0 auto;
  max-width: 216px;
  text-align: center;
  margin-bottom: 72px;
  font-weight: 700;
  font-size: 36px;
  line-height: 1.11;
  letter-spacing: 0.02em;
  color: #fff;
}

.button-hero {
  display: block;
  margin: 0 auto;
  border-radius: 4px;
  padding: 16px 32px;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.04em;
  color: #fff;
  background-color: #4d5ae5;
  box-shadow: 0 4px 4px 0 rgba(0, 0, 0, 0.15);
  min-width: 169px;
  height: 56px;
  border: none;
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.button-hero:hover,
.button-hero:focus {
  background-color: #404bbf;
}

@media screen and (min-resolution: 192dpi) and (max-width: 767px) {
  .section-hero {
    background-image: linear-gradient(
        to bottom,
        rgba(46, 47, 66, 0.7),
        rgba(46, 47, 66, 0.7)
      ),
      url("../images/hero/hero-image-mob@2x.jpg");
  }
}

/* hero tablet */
@media screen and (min-width: 768px) {
  .section-hero {
    padding: 112px 0;
    max-width: 768px;
    background-image: linear-gradient(
        to bottom,
        rgba(46, 47, 66, 0.7),
        rgba(46, 47, 66, 0.7)
      ),
      url("../images/hero/people-office-tab.jpg");
  }

  .hero-title {
    max-width: 496px;
    margin-bottom: 36px;
    font-size: 56px;
    line-height: 1.07;
    letter-spacing: 0.02em;
    color: #fff;
  }
}

@media screen and (min-resolution: 192dpi) and (min-width: 768px) {
  .section-hero {
    background-image: linear-gradient(
        to bottom,
        rgba(46, 47, 66, 0.7),
        rgba(46, 47, 66, 0.7)
      ),
      url("../images/hero/people-office-tab@2x.jpg");
  }
}

/* hero desktop */
@media screen and (min-width: 1158px) {
  .section-hero {
    padding: 188px 0;
    max-width: 1440px;
  }

  .hero-banner-img {
    width: 1440px;
    height: 600px;
  }

  .hero-title {
    margin-bottom: 48px;
  }
}

@media screen and (min-resolution: 192dpi) and (min-width: 1158px) {
  .section-hero {
    background-image: linear-gradient(
        to bottom,
        rgba(46, 47, 66, 0.7),
        rgba(46, 47, 66, 0.7)
      ),
      url("../images/hero/people-office@2x.jpg");
  }
}
/* #endregion */

/* #region BENEFITS */

/* benefits mobile */
.section-benefits {
  padding: 96px 0;
  margin: 0 auto;
}

.benefits-list {
  display: flex;
  flex-wrap: wrap;
  gap: 72px;
}

.benefits-list-icon-box {
  display: none;
}

.benefits-list-item {
  width: 100%;
  max-width: 288px;
}

.benefits-list-content {
  text-align: center;
  font-weight: 700;
  font-size: 36px;
  line-height: 1.11;
  letter-spacing: 0.02em;
  color: #2e2f42;
  margin-bottom: 8px;
}

.benefits-item-text {
  font-weight: 500;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
  color: #434455;
}

/* benefits tablet */
@media screen and (min-width: 768px) {
  .benefits-list {
    row-gap: 72px;
    column-gap: 24px;
  }

  .benefits-list-item {
    flex-basis: calc((100% - 24px) / 2);
    max-width: 356px;
  }

  .benefits-list-content {
    text-align: start;
  }
}

/* benefits desktop */
@media screen and (min-width: 1158px) {
  .section-benefits {
    padding: 120px 0;
  }

  .benefits-list {
    gap: 24px;
  }

  .benefits-list-icon-box {
    display: flex;
    align-items: center;
    justify-content: center;
    position: relative;
    border: 1px solid #8e8f99;
    border-radius: 4px;
    width: 264px;
    height: 112px;
    background-color: #f4f4fd;
    margin-bottom: 8px;
  }

  .benefits-list-item-icon {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
  }

  .benefits-list-item {
    max-width: 264px;
    flex-basis: calc((100% - 72px) / 4);
  }

  .benefits-list-content {
    font-weight: 500;
    font-size: 20px;
    line-height: 1.2;
  }

  .benefits-item-text {
    max-width: 260px;
    font-weight: 400;
  }
}
/* #endregion */

/* #region TEAM */
/* team mobile */
.section-team {
  padding: 96px 0;
  background-color: #f4f4fd;
  margin: 0 auto;
}

.team-container {
  text-align: center;
}

.team-title {
  font-weight: 700;
  font-size: 36px;
  line-height: 1.11;
  letter-spacing: 0.02em;
  text-align: center;
  color: #2e2f42;
  text-transform: capitalize;
  margin-bottom: 72px;
}

.team-list {
  display: flex;
  flex-wrap: wrap;
  gap: 72px;
  justify-content: center;
}

.team-list-item {
  background-color: #ffffff;
  border-radius: 0 0 4px 4px;
  box-shadow: 0 2px 1px 0 rgba(46, 47, 66, 0.08),
    0 1px 1px 0 rgba(46, 47, 66, 0.16), 0 1px 6px 0 rgba(46, 47, 66, 0.08);
  max-width: 264px;
  height: 428px;
}

.team-item-text {
  padding: 32px 0;
}

.team-list-name {
  margin-bottom: 8px;
  font-weight: 500;
  font-size: 20px;
  line-height: 1.2;
  letter-spacing: 0.02em;
  text-align: center;
  color: #2e2f42;
}

.team-list-prof {
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
  text-align: center;
  color: #434455;
  margin-bottom: 8px;
}

.team-social-list {
  display: flex;
  gap: 24px;
  padding: 0 16px;
  justify-content: center;
}

.team-social-list-link {
  background-color: #4d5ae5;
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
  width: 40px;
  height: 40px;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 50%;
}

.social-icons {
  fill: #f4f4fd;
}

.team-social-list-link:hover,
.team-social-list-link:focus {
  background-color: #404bbf;
}

/* team tablet */
@media screen and (min-width: 768px) {
  .team-list {
    row-gap: 64px;
    column-gap: 24px;
    align-items: center;
    justify-content: center;
  }

  .team-list-item {
    width: calc((100% - 24px) / 2);
  }
}

/* team desktop */
@media screen and (min-width: 1158px) {
  .section-team {
    padding: 120px 0;
  }

  .team-list {
    gap: 24px;
  }

  .team-list-item {
    width: calc((100% - 72px) / 4);
  }
}
/* #endregion */

/* #region PORTFOLIO */
/* portfolio mobile */
.text-overlay {
  display: none;
}

.section-portfolio {
  padding: 96px 0;
}

.portfolio-title {
  margin-bottom: 72px;
  font-weight: 700;
  font-size: 36px;
  line-height: 1.11;
  letter-spacing: 0.02em;
  text-align: center;
  color: #2e2f42;
  text-transform: capitalize;
}

.portfolio-list {
  display: flex;
  flex-wrap: wrap;
  gap: 48px;
}

.portfolio-list-item {
  box-shadow: 0 1px 6px 0 rgba(46, 47, 66, 0.08);
  background: #fff;
}

.portfolio-list-text {
  border-bottom: 1px solid #e7e9fc;
  border-left: 1px solid #e7e9fc;
  border-right: 1px solid #e7e9fc;
  padding: 32px 16px;
}

.portfolio-list-name {
  margin-bottom: 8px;
  font-weight: 500;
  font-size: 20px;
  line-height: 1.2;
  letter-spacing: 0.02em;
  color: #2e2f42;
}

.portfolio-list-product {
  font-weight: 400;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
  color: #434455;
}

/* portfolio tablet */
@media screen and (min-width: 768px) {
  .portfolio-list {
    row-gap: 72px;
    column-gap: 24px;
    align-items: center;
    justify-content: center;
  }

  .portfolio-list-item {
    width: calc((100% - 24px) / 2);
  }
}

/* portfolio desctop */
@media screen and (min-width: 1158px) {
  .section-portfolio {
    padding: 120px 0;
  }

  .portfolio-list {
    gap: 48px 24px;
  }

  .portfolio-list-item {
    width: calc((100% - 48px) / 3);
    transition: box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1);
  }

  .portfolio-list-item:hover,
  .portfolio-list-item:focus {
    box-shadow: 0px 1px 6px rgba(46, 47, 66, 0.08),
      0px 1px 1px rgba(46, 47, 66, 0.16), 0px 2px 1px rgba(46, 47, 66, 0.08);
  }

  .portfolio-list-overlay-container {
    position: relative;
    overflow: hidden;
  }

  .text-overlay {
    display: block;
    position: absolute;
    transform: translateY(100%);
    transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
    background-color: #4d5ae5;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;
    color: #f4f4fd;
    padding: 40px 32px;
  }

  .portfolio-list-item:hover .text-overlay {
    transform: translateY(0);
  }
}
/* #endregion */

/* #region FOOTER */
/* footer mobile */
.footer {
  background-color: #2e2f42;
  padding: 96px 0;
}

.footer-container {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: center;
  row-gap: 72px;
  column-gap: 24px;
}

.footer-text-box {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.footer-logo {
  display: inline-block;
  margin-bottom: 16px;
}

.footer-logo .logo-part {
  color: #f4f4fd;
}

.footer-text {
  max-width: 264px;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
  color: #f4f4fd;
}

.footer-social-box {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.footer-social-text {
  font-weight: 500;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
  color: #fff;
  margin-bottom: 16px;
}

.footer-social-list {
  display: flex;
  gap: 16px;
}

.footer-social-list-link {
  background-color: #4d5ae5;
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
  width: 40px;
  height: 40px;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 50%;
}

.footer-social-icon {
  fill: #f4f4fd;
}

.footer-social-list-link:hover,
.footer-social-list-link:focus {
  background-color: #31d0aa;
}

.footer-subscribe-box {
  text-align: center;
}

.footer-subscribe-text {
  font-weight: 500;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
  color: #ffffff;
  margin-bottom: 16px;
}

.footer-subscribe-form {
  display: flex;
  flex-direction: column;
  gap: 16px;
  align-items: center;
}

.footer-subscribe-input {
  border: 1px solid #fff;
  border-radius: 4px;
  width: 288px;
  height: 40px;
  box-shadow: 0 4px 4px rgba(0, 0, 0, 0.15);
  background-color: transparent;
  padding: 8px 16px;
  font-weight: 400;
  font-size: 12px;
  line-height: 2;
  letter-spacing: 0.04em;
  color: #fff;
  opacity: 0.3;
}

.footer-subscribe-input::placeholder {
  font-size: 12px;
  line-height: 2;
  letter-spacing: 0.04em;
  color: #fff;
  opacity: 0.6;
}

.footer-subscribe-input:hover,
.footer-subscribe-input:focus {
  border-color: #4d5ae5;
  outline: none;
}

.footer-subscribe-btn {
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 4px;
  padding: 8px 24px;
  width: 165px;
  height: 40px;
  background-color: #4d5ae5;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.04em;
  text-align: center;
  color: #fff;
  border: none;
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.footer-subscribe-icon {
  margin-left: 16px;
  fill: #fff;
}

.footer-subscribe-btn:hover,
.footer-subscribe-btn:focus {
  background-color: #31d0aa;
}

/* footer tablet */
@media screen and (min-width: 768px) {
  .footer-container {
    align-items: baseline;
    gap: 0;
    padding-left: 108px;
    justify-content: flex-start;
  }

  .footer-text-box {
    align-items: start;
    margin-bottom: 72px;
  }

  .footer-social-box {
    align-items: start;
    margin-left: 24px;
  }

  .footer-subscribe-form {
    flex-direction: row;
    gap: 24px;
  }

  .footer-subscribe-box {
    text-align: start;
  }

  .footer-subscribe-input {
    width: 264px;
    transition: border-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
  }
}

/* footer desktop */
@media screen and (min-width: 1158px) {
  .footer {
    padding: 100px 0;
  }

  .footer-container {
    flex-wrap: nowrap;
    padding-left: 15px;
    justify-content: center;
  }

  .footer-text-box {
    margin-right: 120px;
    margin-bottom: 0;
  }

  .footer-social-box {
    margin-left: 0px;
  }

  .footer-subscribe-box {
    margin-left: 80px;
  }

  .footer-subscribe-form {
    gap: 24px;
  }
}
/* #endregion */

/* #region MODAL WINDOWS */
/* modal windows mobile */
.modal-overlay {
  position: fixed;
  display: flex;
  width: 100%;
  height: 100%;
  justify-content: center;
  align-items: center;
  top: 0;
  left: 0;
  z-index: 999;
  background-color: rgba(46, 47, 66, 0.4);

  opacity: 0;
  pointer-events: none;
  transition: opacity 250ms cubic-bezier(0.4, 0, 0.2, 1),
    visibility 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.modal-overlay.is-open {
  opacity: 1;
  pointer-events: auto;
}

.modal {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  border-radius: 4px;
  width: 288px;
  min-height: 623px;
  box-shadow: 0 1px 1px 0 rgba(0, 0, 0, 0.14), 0 1px 3px 0 rgba(0, 0, 0, 0.12),
    0 2px 1px 0 rgba(0, 0, 0, 0.2);
  background-color: #fcfcfc;
  padding: 72px 16px 24px 16px;
  transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.modal-btn-close {
  display: flex;
  position: absolute;
  padding: 0;
  top: 24px;
  right: 24px;
  width: 24px;
  height: 24px;
  border-radius: 50%;
  justify-content: center;
  align-items: center;
  background-color: #e7e9fc;
  border: 1px solid rgba(0, 0, 0, 0.1);
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1),
    border 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.modal-btn-close:hover,
.modal-btn-close:focus {
  background-color: #404bbf;
  border: none;
}

.modal-btn-close-svg {
  fill: #2e2f42;
  transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.modal-btn-close:hover .modal-btn-close-svg,
.modal-btn-close:focus .modal-btn-close-svg {
  fill: #fff;
}

.modal-callback-text {
  font-weight: 500;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
  text-align: center;
  color: #2e2f42;
  margin-bottom: 16px;
}

.modal-form {
  display: flex;
  flex-direction: column;
}

.modal-form-input-box {
  margin-bottom: 8px;
}

.modal-form-label {
  display: block;
  flex-direction: column;
  gap: 4px;
  font-weight: 400;
  font-size: 12px;
  line-height: 1.17;
  letter-spacing: 0.04em;
  color: #8e8f99;
  margin-bottom: 4px;
}

.modal-label-icon-box {
  position: relative;
}

.modal-label-icon {
  position: absolute;
  top: 50%;
  left: 16px;
  transform: translateY(-50%);
  transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.modal-input {
  border: 1px solid rgba(46, 47, 66, 0.4);
  border-radius: 4px;
  width: 100%;
  height: 40px;
  padding-left: 38px;
  background-color: transparent;
  outline: transparent;
  transition: border-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.modal-input:focus {
  border-color: #4d5ae5;
}

.modal-input:focus + .modal-label-icon {
  fill: #4d5ae5;
}

.modal-form-input-area {
  margin-bottom: 16px;
}

.modal-input-area {
  border: 1px solid rgba(46, 47, 66, 0.4);
  border-radius: 4px;
  background-color: transparent;
  outline: transparent;
  width: 100%;
  height: 120px;
  resize: none;
  padding: 8px 16px;
  font-size: 12px;
  line-height: 1.17;
  letter-spacing: 0.04em;
  color: rgba(46, 47, 66, 0.4);
  transition: border-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.modal-input-area::placeholder {
  font-size: 12px;
  line-height: 1.17;
  letter-spacing: 0.04em;
  color: rgba(46, 47, 66, 0.4);
}

.modal-input-area:focus {
  border-color: #4d5ae5;
}

.modal-privacy {
  margin-bottom: 24px;
}

.modal-privacy-label {
  display: flex;
  align-items: center;
  font-size: 12px;
  line-height: 1.17;
  letter-spacing: 0.04em;
  color: #8e8f99;
}

.modal-privacy-check {
  display: inline-flex;
  justify-content: center;
  align-items: center;
  flex-shrink: 0;
  width: 16px;
  height: 16px;
  border-radius: 2px;
  border: 1px solid rgba(46, 47, 66, 0.4);
  fill: transparent;
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1),
    border 250ms cubic-bezier(0.4, 0, 0.2, 1),
    fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
  margin-right: 8px;
}

.modal-privacy-check-text {
}

.modal-privacy-link {
  text-decoration: underline;
  line-height: 1.33;
  text-decoration-skip-ink: none;
  color: #4d5ae5;
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.modal-privacy-link:hover,
.modal-privacy-link:focus {
  color: #404bbf;
}

.modal-privacy-checkbox:checked + .modal-privacy-label > .modal-privacy-check {
  background-color: #404bbf;
  fill: #f4f4fd;
  border: none;
}

.modal-btn-send {
  display: block;
  border-radius: 4px;
  padding: 16px 32px;
  min-width: 169px;
  height: 56px;
  margin: 0 auto;
  box-shadow: 0 4px 4px 0 rgba(0, 0, 0, 0.15);
  background-color: #4d5ae5;
  border: none;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.04em;
  text-align: center;
  color: #fff;
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.modal-btn-send:hover,
.modal-btn-send:focus {
  background-color: #404bbf;
}
/* modal windows tablet */
@media screen and (min-width: 768px) {
  .modal {
    width: 408px;
    min-height: 584px;
    padding: 72px 24px 24px;
  }
}
/* modal windows desktop */

/* #endregion */
